@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  background-color: #0D0D12;
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #2D2D39;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #4F46E5;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #2D2D39 transparent;
  }
}